.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo__img {
    height: 60px;
  }
  .logo__name {
    font-size: 40px;
    color: orange;
    float: left;
    background-color: rgba(0, 0, 0, 0.384);
    padding-right:20px;
  }
  .navbar {
    display: flex;
    top: 0px;
    justify-content: space-between;
    float: right;
    background-color:rgba(0, 0, 0, 0.315);
    width: 50%;
    margin-top: -5%;
  }
  .nav_item {
    color: white;
    font-size: 30px;
    text-decoration: none;
  }
  .nav_item1 {
    font-size: 30px;
    color: orange;
    text-decoration: none;
  }
  .nav_item5 {
    font-size: 30px;
    border: 1px solid orange;
    color: white;
    background-color: orange;
    text-decoration: none;
  }
  body {
    background-image: url(Images/image2.png);
    background-repeat: no-repeat;
    background-color: lightgrey;
  }
  .section__heading {
    color: white;
    font-size: 70px;
    text-align: left;
    margin-left: 40px;
    margin-top: 150px;
}
.order {
    color: white;
    font-size: 50px;
    background-color: orange;
    width: 300px;
    height: 100px;
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
  }
  .service_eat {
    text-align: center;
    background-color: lightgrey;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .service_title {
    font-size: 40px;
    color: orange;
    font-family: roboto;
    font-weight: bold;
  }
  .service_desc {
    font-size: 20px;
    font-style: italic;
}
.service_column {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 50px;
    flex-wrap: wrap;
  }
  .service_columns {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 2%;
    background-color: white;
  }
  #column {
    font-family: Roboto;
    background-color: orange;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 35px;
  }
  .review {
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 200px;
    background-color: black;
  }
  .review_section {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    width: 900px;
    height: 500px;
    float: right;
  }
  .menu {
    font-family: roboto;
    font-size: 20px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 50px;
    margin: 80px;
  }
  .menu_eat {
    text-align: center;
    font-weight: 700;
    position: absolute;
    margin: -10%;
  }
  menu_eat,h1 {
    color: orange;
  }
  .menu1 {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    padding: 5px;
    flex-wrap: wrap;
    border: 1px solid whitesmoke;
    background-color: white;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

  }
  .menufood {
    height: 300px;
    width: 300px;
  }
  .menu_desc {
    font-size: 20px;
  }
  menu1,span{
      color:orange;
  }
  menu1,h3{
      color: black;
}
footer {
    background-image: url(Images/image8.png);
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .copyright {
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
  }
